/target/
/third_party-src/
/data/*
!/data/.gitkeep
/assets/
/resources/
/reference/
/artifacts/
*.exe
*.dll
*.i64
*.id0
*.id1
*.id2
*.nam
*.til
*.pdb
*.map
*.pak
*.dat
*.idb
*.sqlite
*.log
.env
.DS_Store
Thumbs.db
